@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

/*for all*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

:root {
  --primary-font: #fec96b;
  --secondary-font: #fff;
  --primary-bg: #34343b;
  --secondary-bg: #30323b;
  --black: #222;
  --card: #505050;
}

/*=================================
  Header styling starts here
=================================*/
.header {
  width: 100%;
  padding: 20px 5rem;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > a {
  color: var(--primary-font);
  font-size: 2rem;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.logo > a:hover {
  color: var(--secondary-font);
}

.navbar > ul {
  display: flex;
  gap: 3.5rem;
}

.navbar a {
  border-bottom: 2px solid transparent;
  color: var(--secondary-font);
  font-size: 1.25rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  position: relative;
}

.navbar a:hover {
  color: var(--primary-font);
}

/* Define the pseudo-element for creating the expanding border */
.navbar a::before {
  content: "";
  width: 100%;
  height: 100%;
  border-bottom: 2px solid transparent;
  position: absolute;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: center bottom;
}

/* Define the styles for the link on hover */
.navbar a:hover::before {
  transform: scaleX(1);
  border-color: var(--primary-font);
  color: var(--primary-font);
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/**********************************************
  Header styling starts here
************************************************/
.banner-section {
  width: 100%;
  height: 80vh;
  padding: 0 10rem;
  position: relative;
  background-color: var(--primary-bg);
  box-shadow: 0 4px 4px var(--black);
}

.banner-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.info-desc {
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: var(--secondary-font);
}

.name {
  font-size: 2rem;
  color: var(--primary-font);
}

.contact-btn {
  padding: 10px 1rem;
  border: 2px solid var(--primary-font);
  border-radius: 6px;
  margin-top: 20px;
  color: var(--primary-font);
  font-size: 1.5rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: var(--primary-font);
  color: var(--secondary-font);
}

.banner-right {
  width: 35%;
  position: absolute;
  right: 10%;
  bottom: 0;
}

.banner-right > img {
  width: 100%;
  object-fit: cover;
}
/**********************************************
  Header styling ends here
************************************************/

/***********************************************
  about section styling starts here
***********************************************/
.about-section {
  background-color: var(--secondary-bg);
  padding: 80px 0;
}

.about-container {
  padding: 0 10rem;
}

.heading {
  margin-bottom: 20px;
  color: var(--secondary-font);
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
}

.info {
  color: var(--secondary-font);
  font-size: 1.2rem;
}
/***********************************************
  about section styling ends here
***********************************************/

/***********************************************
  skills section styling starts here
***********************************************/
.skills-section {
  background-color: var(--secondary-bg);
  color: var(--secondary-font);
  padding: 80px 0;
}

.skills-container {
  max-width: 1200px;
  margin: 0 auto;
}

.skills-container h2 {
  text-align: center;
}

.skills-container ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.skills-container li {
  padding: 50px 4rem;
  border-radius: 10px;
  background-color: var(--card);
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.skills-container li:hover {
  background-color: var(--primary-font);
}

.skills-container img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.img-container {
  display: flex;
}

.skills-container span {
  margin-top: 10px;
  display: block;
  text-transform: capitalize;
}
/***********************************************
  skills section styling ends here
***********************************************/

/***********************************************
  portfolio section styling starts here
***********************************************/
.portfolio-section {
  padding: 80px 0;
  background-color: var(--secondary-bg);
  color: var(--secondary-font);
}

.portfolio-container {
  padding: 0 10rem;
}

.portfolio-container h2 {
  text-align: center;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.portfolio-list li {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.project {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 5%;
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.portfolio-list img {
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.portfolio-list span {
  margin: 10px 0;
  display: block;
  color: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.portfolio-list p {
  color: var(--secondary-font);
  font-size: 0.75rem;
}

.btn-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.more-btn {
  padding: 10px 20px;
  border: 1px solid var(--primary-font);
  border-radius: 5px;
  display: inline-block;
  background-color: var(--primary-font);
  color: var(--black);
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.more-btn:hover {
  background-color: transparent;
  color: var(--primary-font);
}
/***********************************************
  portfolio section styling ends here
***********************************************/

/***********************************************
  experience section styling starts here
***********************************************/
.experience-section {
  padding: 80px 0;
}

.experince-container {
  max-width: 1200px;
  margin: 0 auto;
}

.experince-container h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.experience-list {
  display: flex;
  justify-content: space-between;
}

.experience-inner {
  width: 48%;
}

.experience-inner h3 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.experience-inner span {
  display: block;
  color: #555;
  margin-bottom: 5px;
}

.experience-inner .year {
  font-weight: bold;
}

.experience-inner .info {
  color: #777;
}
/***********************************************
  experience section styling ends here
***********************************************/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer-container-top {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container-top h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mail,
.phone {
  color: #fff;
  text-decoration: none;
}

.address {
  color: #aaa;
  margin-top: 10px;
}

.footer-container-bottom {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-container-bottom li {
  margin: 0 10px;
}

.footer-container-bottom a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
